<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.atmempresadeconsultoria">


    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="com.example.RecycleViewAndJsonParsing.MainJsonParsing"></activity>
        <activity android:name="com.example.HTTTPService.MenuCEP" />
        <activity android:name="com.example.HTTTPService.HTTTPService" />
        <activity android:name=".SQLiteTarefaActivity" />
        <activity android:name=".SQLiteActivity"></activity>
        <activity android:name=".ArmazenamentoInternoActivity" />
        <activity android:name=".SharedPreferencesActivity" />
        <activity android:name=".MusicaPlayActivity" />
        <activity android:name=".ToggleButtonActivity" />
        <activity android:name=".GroupRadionButtonActivity" />
        <activity android:name=".Empresa2Activity" />
        <activity android:name=".ContatoActivity" />
        <activity android:name=".ClientesActivity" />
        <activity android:name=".ServicosActivity" />
        <activity android:name=".EmpresaActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>